<% @title = nil %>

<div id="hippo">
	<div id="welcome">
		<img class="swelcome" src="/assets/logo.png">
	</div>
	<div id="sidebar">
		<div class="bubble">
			<%= link_to tag_path("My Songs") do %><img class="stitle right" src="/assets/my_songs.png"><% end %>
			<ul>
				<% @posts_all.each do |post|%>
					<% if post.tag_list.include? "My Songs" %>
						<li> <%= link_to post.title, post %> </li>
					<%end%>
				<%end%>
			</ul>
			<%= link_to tag_path("My Poems") do %><img class="stitle left" src="/assets/my_poems.png"><% end %>
			<ul>
				<% @posts_all.each do |post|%>
					<% if post.tag_list.include? "My Poems" %>
						<li> <%= link_to post.title, post %> </li>
					<%end%>
				<%end%>
			</ul>
			<%= link_to tag_path("SOTM") do %><img class="stitle left" src="/assets/sotm.png"><% end %>
			<ul>
				<% @posts_all.each do |post|%>
					<% if post.tag_list.include? "SOTM" %>
						<li> <%= link_to post.title, post %> </li>
					<%end%>
				<%end%>
			</ul>
			<% @left_buttons.each do |b| %>
				<%= link_to image_tag(b.img.url, :class => "side_button"), b.url %>
			<% end %>
		</div>
	</div>
	<div id="main" class="index">
		<% if params[:tag] %>
			<% if @posts.length > 0 %>
				<h1 class="tag_title"> Posts filed under "<%= params[:tag] %>" </h1>
			<% else %>
				<h1 class="tag_title"> No posts filed under "<%= params[:tag] %>" :( </h1>
			<% end %>
		<% end %>
		
		<% @posts.each do |post| %>
			<div class="article">
				<div class="author">
					<%= image_tag avatar_url(post.user, 30) %>
					By <%= post.user.name %>
					<div class="date">
						<%= post.created_at.strftime("%b. %d %Y") %>
					</div>
				</div>
				<h3><%= link_to post.title, post %></h3>
				<p>
					<%= post.intro %>
				</p>
				<%= link_to "Read more", post, :class => "more" %>
				<span class="tags">
					Filed under <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(", ") %>
				</span>
			</div>
		<%end%>
		<% if @home %>
			<%= link_to archive_path do %>
				<strong>View Archive &raquo;</strong>
			<% end %>
		<% end %>
	</div>
	<div id="sidebar">
		<div class="bubble">
			<%= link_to tag_path("Food for Thought") do %><img class="stitle right" src="/assets/my_thoughts.png"><% end %>
			<ul>
				<% @posts_all.each do |post|%>
					<% if post.tag_list.include? "Food for Thought" %>
						<li> <%= link_to post.title, post %> </li>
					<%end%>
				<%end%>
			</ul>
			<%= link_to tag_path("Book Reviews") do %><img class="stitle right" src="/assets/books.png"><% end %>
			<ul>
				<% @posts_all.each do |post|%>
					<% if post.tag_list.include? "Book Reviews" %>
						<li> <%= link_to post.title, post %> </li>
					<%end%>
				<%end%>
			</ul>
			<%= link_to tag_path("Recipies/Crafts") do %><img class="stitle right" src="/assets/rec-pat.png"><% end %>
			<ul>
				<% @posts_all.each do |post|%>
					<% if post.tag_list.include? "Recipies" or post.tag_list.include? "Crafts" %>
						<li> <%= link_to post.title, post %> </li>
					<%end%>
				<%end%>
			</ul>
			<% @right_buttons.each do |b| %>
				<%= link_to image_tag(b.img.url, :class => "side_button"), b.url %>
			<% end %>
		</div>
	</div>
</div>